.search-wrapper {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-left: 0.75rem;
  margin-left: 0.875rem;
  flex: 1 1 0%;
  align-items: center;
}
.search-icon {
  width: 1.25rem;
  height: 1.25rem;
  color: #878a8c;
}
.search-input {
  background-color: transparent;
  font-size: 0.875rem;
  line-height: 1.25rem;
  flex: 1 1 0%;
  border-radius: 0.25rem;
  border-width: 1px;
}
